body {
    font-family: 'Poppins', sans-serif;
    color: #555252;
}

header {
    font-family: inherit; /* Đảm bảo kế thừa từ body */
}

header .navbar-brand {
    font-weight: 900; /* Font-weight đậm hơn cho logo */
}

header .nav-link,
header .nav-dropdown-item,
header .text-danger {
    color: #555252; /* Màu chữ */
}

header .nav-link:hover {
    color: #000; /* Màu chữ khi hover */
}

header .form-select {
    font-family: 'Poppins', sans-serif;
    color: #555252;
}

.badge {
    font-family: 'Poppins', sans-serif;
}
