.hero__categories {
    position: relative;
}

.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;  /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in-out, padding 0.3s ease;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.category-list.open {
    max-height: 500px;  /* Adjust this value based on your content */
    opacity: 1;
    padding-top: 10px;   /* Add padding when open */
    padding-bottom: 10px;
}

.category-list li {
    padding: 5px 0;
}

.hero__categories__all {
    cursor: pointer;
}
